{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Plan Status: {{ planstatus.name }}</h1>

<p>Are you sure you want to delete the plan status? The status on {{ planstatus.plan_set.all.count }} plans will be set to None.</p>

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, delete." class="btn btn-danger">
    <a href="{{ planstatus.get_absolute_url }}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}

{% block title %}
  <title>
    Delete Plan Type | {{ planstatus.name }} | Settings | Travel Planner
  </title>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'settings' %}">Settings</a></li>
    <li class="breadcrumb-item"><a href="{% url 'planstatuses' %}">Plan Statuses</a></li>
    <li class="breadcrumb-item"><a href="{% url 'planstatus-update' planstatus.id %}">{{ planstatus.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete Plan Status</li>
{% endblock %}