{% extends "base_generic.html" %}

{% block content %}
  <h1>Plan Type List</h1>
  {% if plantype_list %}
    <ul>
      {% for plantype in plantype_list %}
      <li>
        <a href="{{ plantype.get_absolute_url }}">{{ plantype.name }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no plan types.</p>
  {% endif %}
{% endblock %}

{% block title %}
  <title>Plan Types | Settings | Travel Planner</title>
{% endblock %}
{% block sidebar %}
  {{ block.super }}

  <h2 class="fs-5">Plan Type Actions</h2>
  <ul class="sidebar-nav">
    <li><a href="{% url 'plantype-create' %}">Create plan type</a></li>
  </ul>

{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'settings' %}">Settings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Plan Types</li>
{% endblock %}