{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Plan: {{ plan }} (From Trip: {{ plan.trip }})</h1>

<p>Are you sure you want to delete the plan? The following will also be deleted:</p>

<ul>
    <li>{{ plan.todo_set.all.count }} Todos</li>
    <li>{{ plan.budgetitem_set.all.count }} Budget Items</li>
</ul>

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, delete." class="btn btn-danger">
    <a href="{{ plan.get_absolute_url }}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}

{% block title %}
  <title>
    Delete Plan | {{ plan.description }} | {{ plan.trip.destination }} | Travel Planner
  </title>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'trips' %}">Trips</a></li>
    <li class="breadcrumb-item"><a href="{{ plan.trip.get_absolute_url }}">{{ plan.trip.destination }}</a></li>
    <li class="breadcrumb-item"><a href="{{ plan.get_absolute_url }}">{{ plan.description }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete Plan</li>
{% endblock %}