{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Trip: {{ trip }}</h1>

<p>Are you sure you want to delete the trip? The following will also be deleted:</p>

<ul>
    <li>{{ trip.plan_set.all.count }} Plans</li>
    <li>{{ trip.todo_set.all.count }} Todos</li>
    <li>{{ trip.budgetitem_set.all.count }} Budget Items</li>
</ul>

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, delete." class="btn btn-danger">
    <a href="{{ trip.get_absolute_url }}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}

{% block title %}
  <title>
    Delete Trip | {{ trip.destination }} | Travel Planner
  </title>
{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'trips' %}">Trips</a></li>
    <li class="breadcrumb-item"><a href="{{ trip.get_absolute_url }}">{{ trip.destination }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete Trip</li>
{% endblock %}