{% extends "base_generic.html" %}

{% block content %}
  <h1>Destination: {{ trip.destination }}</h1>
    <p><strong>Goal Date:</strong> {{ trip.goal_date }}</p>
    <p><strong>Completed Date:</strong> {{ trip.completed_date }}</p>
    <p><strong>Notes:</strong> {{ trip.notes }}</p>

    <h2>Plans</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for plan in trip.plan_set.all %}
            <tr>
                <td>
                    <a href="{{ plan.get_absolute_url }}">{{ plan.description }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Todos</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Notes</th>
                <th>Due Date</th>
                <th>Associated Plan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for todo in trip.todo_set.all %}
            <tr>
                <td>
                    {{ todo.description }}
                </td>
                <td>
                    {{ todo.notes }}
                </td>
                <td>
                    {% if todo.date_completed %}
                    Completed {{ todo.date_completed }}
                    {% else %}
                    {{ todo.due_date }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ todo.plan.get_absolute_url }}">{{ todo.plan.description }}</a>
                </td>
                <td>
                    {% if not todo.date_completed %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="completetodo" value="{{ todo.id }}">
                        <input type="submit" value="Mark Completed" class="btn btn-primary">
                    </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <tr>
                <td>{{ todoform.description }}</td>
                <td>{{ todoform.notes }}</td>
                <td>{{ todoform.due_date }}</td>
                <td>{{ todoform.plan }}</td>
                <td><input type="submit" value="Add" class="btn btn-primary"> {{ todoform.trip.as_hidden }}<input type="hidden" name="addtype" value="todo"></td>
            </tr>
        </form>
        </tbody>
    </table>

    <h2>Budget</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Notes</th>
                <th>Type</th>
                <th>Due Date</th>
                <th>Amount</th>
                <th>Associated Plan</th>
            </tr>
        </thead>
        <tbody>
        {% for budgetitem in trip.budgetitem_set.all %}
            <tr>
                <td>
                    {{ budgetitem.description }}
                </td>
                <td>
                    {{ budgetitem.notes }}
                </td>
                <td>
                    {{ budgetitem.type }}
                </td>
                <td>
                    {{ budgetitem.due_date }}
                </td>
                <td>
                    {{ budgetitem.amount }}
                </td>
                <td>
                    <a href="{{ budgetitem.plan.get_absolute_url }}">{{ budgetitem.plan.description }}</a>
                </td>
                <td></td>
            </tr>
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <tr>
                <td>{{ budgetitemform.description }}</td>
                <td>{{ budgetitemform.notes }}</td>
                <td>{{ budgetitemform.type }}</td>
                <td>{{ budgetitemform.due_date }}</td>
                <td>{{ budgetitemform.amount }}</td>
                <td>{{ budgetitemform.plan }}</td>
                <td><input type="submit" value="Add" class="btn btn-primary"> {{ budgetitemform.trip.as_hidden }}<input type="hidden" name="addtype" value="budgetitem"></td>
            </tr>
        </form>
        </tbody>
    </table>

{% endblock %}

{% block sidebar %}
  {{ block.super }}


  <hr>
  <ul class="sidebar-nav">
    <li><a href="{% url 'trip-update' trip.id %}">Update trip</a></li>
    <li><a href="{% url 'trip-delete' trip.id %}">Delete trip</a></li>
  </ul>


{% endblock %}